<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Prestige³</title>
        <link rel="stylesheet" href="style.css" id="style" />
        <script src="game.js" defer></script>
        <script src="save.js" defer></script>
        <script src="OmegaNum.js" defer></script>
        <script src="format-omeganum.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12" defer></script>
    </head>
    <body>
        <div id="app">
            <button onclick="save()">Save</button>
            <button onclick="exportSave()">Export</button>
            <button onclick="importSave()">Import</button>
            <button onclick="hardReset()">Hard Reset</button>
            <br><br>
            <table>
                <tr>
                    <td style="border: 4px solid #ffffff; text-align: center" class="generator">
                        You have {{format(player.points[0][0][0])}} points.
                        <span v-if="player.highestPrestige.gt(0)">
                            <br><button onclick="Generators.maxAll(0)">Max All</button>
                        </span>
                        <span v-if="player.autoBuyMax[0][0][0] != undefined">
                            <button onclick="player.autoBuyMax[0][0][0] = !player.autoBuyMax[0][0][0]">Auto buy max: {{player.autoBuyMax[0][0][0] ? "ON" : "OFF"}}</button>
                        </span>
                        <span v-if="player.autoRelativeGain[0][0][0] != undefined">
                            <button onclick="player.autoRelativeGain[0][0][0] = !player.autoRelativeGain[0][0][0]">Auto relative gain: {{player.autoRelativeGain[0][0][0] ? "ON" : "OFF"}}</button>
                        </span>
                    </td>
                    <td v-for="a in player.points[0][0].length - 1" style="border: 4px solid #ffffff; text-align: center" class="generator">
                        You have {{format(player.points[0][0][a])}} Tier {{a}} prestige points and {{format(player.power[0][0][a])}} Tier {{a}} prestige power.<br>
                        <button v-if="new OmegaNum(player.points[0][0][a-1]).lt(1e24)">1e24 required</button>
                        <button v-if="new OmegaNum(player.points[0][0][a-1]).gte(1e24)" @click="Prestige.reset(a, false)">Prestige (+{{format(Prestige.formula(a))}})</button>
                        <span v-if="player.highestPrestige.gt(a)">
                            <br><button @click="Generators.maxAll(a)">Max All</button>
                        </span>
                        <span v-if="player.autoBuyMax[0][0][a] != undefined">
                            <button @click="player.autoBuyMax[0][0][a] = !player.autoBuyMax[0][0][a]">Auto buy max: {{player.autoBuyMax[0][0][a] ? "ON" : "OFF"}}</button>
                        </span>
                        <span v-if="player.autoRelativeGain[0][0][a] != undefined">
                            <button @click="player.autoRelativeGain[0][0][a] = !player.autoRelativeGain[0][0][a]">Auto relative gain: {{player.autoRelativeGain[0][0][a] ? "ON" : "OFF"}}</button>
                        </span>
                    </td>
                    <td style="border: 4px solid #ffffff; text-align: center" class="generator" v-if="OmegaNum.gte(player.points[0][0][0], '1e1e9') || OmegaNum.gt(player.singularityPower[0][0], 0)">
                        You have {{format(player.singularityPower[0][0])}} singularity power, making all generator multipliers x^{{format(SingularityPower.effect(), 5)}}.
                    </td>
                </tr>
                <tr v-for="a in Math.max(...player.generators[0][0].map(arr => arr.length))">
                    <td style="border: 4px solid #ffffff; text-align: center" class="generator" :style="{visiblity: player.generators[0][0][0][a-1] != undefined ? 'visible' : 'hidden', borderColor: player.generators[0][0][0][a-1] != undefined ? 'white' : 'black'}">
                        <span v-if="player.generators[0][0][0][a-1] != undefined">
                            Generator {{a == 1 ? 1 : OmegaNum.add(a, OmegaNum.sub(player.highestGenerator[0][0][0], 10))}}<br>
                            Amount: {{format(player.generators[0][0][0][a-1].amount)}} ({{formatWhole(player.generators[0][0][0][a-1].bought)}})<br>
                            Mult: {{format(Generators.mult(0,a-1))}}x<br>
                            Cost: {{format(Generators.cost(0,a-1))}}<br>
                            <button @click="Generators.buy(0,a-1)">Buy</button>
                            <button @click="Generators.buyMax(0,a-1)">Buy Max</button>
                        </span>
                    </td>
                    <td style="border: 4px solid #ffffff; text-align: center" class="generator" :style="{visibility: player.generators[0][0][b][a-1] != undefined ? 'visible' : 'hidden', borderColor: player.generators[0][0][b][a-1] != undefined ? 'white' : 'black'}" v-for="b in player.generators[0][0].length - 1">
                        <span v-if="player.generators[0][0][b][a-1] != undefined">
                            Tier {{b}} Prestige Generator {{a == 1 ? 1 : OmegaNum.add(a, OmegaNum.sub(player.highestGenerator[0][0][b], 10))}}<br>
                            Amount: {{format(player.generators[0][0][b][a-1].amount)}} ({{formatWhole(player.generators[0][0][b][a-1].bought)}})<br>
                            Mult: {{format(Generators.mult(b,a-1))}}x<br>
                            Cost: {{format(Generators.cost(b,a-1))}}<br>
                            <button @click="Generators.buy(b,a-1)">Buy</button>
                            <button @click="Generators.buyMax(b,a-1)">Buy Max</button>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>