body {
  background-color:black;
  color:white;
  border-radius: 5px;
  font-family: 'Verdana', sans-serif;
  margin: 2em;
}

button {
  font-family: 'Verdana', sans-serif;
}

.generator {
  height: 150px;
  min-width: 200px;
  max-width: 200px;
}